<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.refuse_classification.mapper.ArticleCommentMapper">
<!--    <resultMap id="MyCommentVOResultMap" type="com.study.refuse_classification.entity.vo.MyCommentVO">-->
<!--        <id column="id" property="id" javaType="CHAR"/>-->
<!--        <result column="article_id" property="articleId" javaType="CHAR"/>-->
<!--        <result column="content" property="content" javaType="VARCHAR"/>-->
<!--        <result column="title" property="title" javaType="VARCHAR"/>-->
<!--        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />-->
<!--    </resultMap>-->
<!--    <sql id="MyCommentVO_List">-->
<!--        comm.id, comm.article_id, content, art.title, comm.gmt_create-->
<!--    </sql>-->
<!--    <select id="getAllCommentById" resultMap="MyCommentVOResultMap" parameterType="java.long.String">-->
<!--        select-->
<!--        <include refid="MyCommentVO_List"/>-->
<!--        from sorting_article art, article_comment comm-->
<!--        where art.id=comm.article_id and comm.user_id = #{userId,jdbcType=CHAR}-->
<!--    </select>-->
    <select id="getAllCommentById" resultType="com.study.refuse_classification.entity.vo.MyCommentVO">
        SELECT comm.id, comm.article_id AS articleId, comm.content, art.title, comm.gmt_create AS gmtCreate
        FROM sorting_article art, article_comment comm
        WHERE art.id=comm.article_id and comm.user_id = #{userId,jdbcType=CHAR}
        ORDER BY comm.gmt_create DESC
    </select>
</mapper>
